.files-dropzone {
    color: #282c34;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border: 1px dashed blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.files {
    /* background-color: greenyellow !important; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
